.btn {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 10px 15px;
  line-height: 1;
  
  &:hover, &:focus {
    text-decoration: none;
  }

  &-smaller {
    padding: 7px 12px;
  }

  &-default {
    border-color: $lightGray;
    color: $black;

    &:hover, &:focus {
      background: $lightGray;
    }
  }

  &-primary {
    background: $myrtleGreen;
    color: $white;

    &:hover, &:focus {
      background: lighten($myrtleGreen, 5%);
    }
  }

  &-danger {
    border-color: $rubyRed;
    color: $rubyRed;

    &:hover, &:focus {
      background: $rubyRed;
      color: $white;
    }
  }

  &-info {
    background: $celadonGreen;
    color: $white;

    &:hover, &:focus {
      background: lighten($celadonGreen, 5%);
    }
  }
}