%hidden {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}

%clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin mobile() {
	@media (max-width: $mobileWidth) {
		@content;
	}
}

@mixin desktop() {
	@media (min-width: $mobileWidth + 1) {
		@content;
	}
}