.filters {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin-bottom: 15px;

	@include mobile() {
		flex-direction: column;
	}

	.status {
		display: flex;

		li:not(:last-child):after {
			content: "|";
			margin: 0 4px;
		}
	
		a {
			color: $black;
			text-decoration: none;

			&.active {
				font-weight: 700;
			}

			&:hover, &:hover {
				text-decoration: underline;
			}
		}
	}

	.search {
		@include mobile() {
			width: 100%;
		}

		label {
			@extend %hidden;
		}

		[type="search"] {
			width: 250px;
			border: 1px solid $gray;
			border-radius: 3px;
			padding: 8px 15px;
			font: inherit;

			@include mobile() {
				width: 100%;
				margin-top: 10px;
			}
		}
	}
}