.form {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;

	[type="text"], select {
		border: 1px solid $gray;
		border-radius: 3px;
		font: inherit;
	}

	label {
		@extend %hidden;
	}

	.title {
		flex: 1;

		[type="text"] {
			width: 100%;
			padding: 8px 15px;
		}

		.slug {
			margin-top: 3px;
			color: $gray;
			font-size: 14px;
		}
	}

	select {
		flex: 0;
		margin-left: 15px;
		padding: 7px 15px;
	}

	.mce-tinymce {
		flex: 1 100%;
		margin: 15px 0;
	}

	[type="submit"] {
		border: 0;
		border-radius: 3px;
		padding: 10px 15px;
		background: $myrtleGreen;
		color: $white;
		cursor: pointer;
		transition: background .3s;

		&:active {
			background: lighten($myrtleGreen, 5%);
		}
	}
}