.items-table {
	width: 100%;
	border: 1px solid $gray;
	background: $white;

	th {
		padding: 12px 15px;
		background: $lightGray;
		font-weight: bold;
		text-align: left;

		@include mobile() {
			&:nth-child(3) {
				width: 100%;
				text-align: right;
			}

			&:nth-child(4) {
				display: none;
			}
		}
	}

	tr {
		@include mobile() {
			display: block;
		}

		&.editing {
			@include mobile() {
				position: relative;
				z-index: 1;
			}

			td {
				@include desktop() {
					position: relative;
					z-index: 1;
				}

				&:first-child:after {
					content: "";
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;

					// 200px (navbar) + 2 * 15px (main padding) + 2 * 1px (table border)
					width: calc(100vw - 232px);
					background: $lightGray repeating-linear-gradient(45deg,
																	 $lightGray,
																	 $lightGray 35px,
																	 darken($lightGray, 5%) 35px,
																	 darken($lightGray, 5%) 70px);
					z-index: -1;

					@include mobile() {
						// 50px (navbar) + 2 * 15px (main padding) + 2 * 1px (table border)
						width: calc(100vw - 82px);
					}
				}
			}
		}

		td {
			border-top: 1px solid $gray;
			padding: 15px 0 15px 15px;
			vertical-align: middle;

			// Checkbox
			&:nth-child(1) {
				width: 33px;

				[type="checkbox"] {
					@extend %hidden;

					&:not(:checked) + .checkbox {
						@extend .fa-square;
					}

					&:checked + .checkbox {
						@extend .fa-check-square;
					}
				}

				.checkbox {
					@extend .fa, .fa-lg;
					color: $celadonGreen;
					cursor: pointer;
				}
			}

			// Title
			&:nth-child(2) {
				@include mobile() {
					width: 100%;
				}

				.busy {
					margin-top: 3px;
					color: $gray;
					font-size: 14px;
				}
			}

			// Status
			&:nth-child(3) {
				width: 10%;

				@include mobile() {
					padding-right: 15px;
				}
			}

			// Actions
			&:nth-child(4) {
				@extend %clearfix;
				width: 20%;
				padding-right: 15px;

				@include mobile() {
					width: 100%;
					display: block;
					border-top: 0;
					padding-top: 0;
				}

				a:not(.delete) {
					@extend .btn, .btn-info, .btn-smaller;
				}

				a.delete {
					@extend .btn, .btn-danger, .btn-smaller;
					float: right;
				}
			}
		}
	}
}