.main {
	flex: 1 1;
	padding: 15px;

	.page-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: -15px -15px 15px;
		border-bottom: 1px solid $lightGray;
		padding: 0 15px;
		background: $white;
		line-height: 60px;

		h2 {
			font-size: 36px;
		}
	}
}