.pagination {
	margin-top: 15px;
	text-align: center;

	ul {
		display: inline-flex;
		li {
			&:first-child a {
				border-radius: 3px 0 0 3px;
			}

			&:last-child a {
				border-radius: 0 3px 3px 0;
			}

			a {
				display: block;
				padding: 12px 15px;
				background: $myrtleGreen;
				color: $white;
				text-decoration: none;

				&:hover, &:focus {
					background: lighten($myrtleGreen, 5%);
				}

				&.current {
					background: $celadonGreen;
				}
			}
		}
	}
}