.sidebar {
	flex: 0 0 200px;
	line-height: 45px;

	@include mobile() {
		flex-basis: 50px;
	}

	.wrapper {
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		background: $myrtleGreen;
		overflow-y: auto;

		@include desktop() {
			width: 200px;
		}

		.brand {
			position: relative;
			background: $rubyRed;
			color: $white;
			font-size: 32px;
			font-weight: bold;
			text-align: center;
			line-height: 60px;

			span {
				@include mobile() {
					display: none;
				}
			}
		}
		
		.navigation {
			flex: 1;

			ul {
				display: flex;
				flex-direction: column;
				height: 100%;

				a {
					display: block;
					padding: 0 15px;
					color: $white;
					text-decoration: none;

					@include mobile() {
						span, & + ul {
							display: none;
						}
					}

					&:hover, &:focus {
						background: lighten($myrtleGreen, 5%);
					}

					&.active {
						background: $japaneseIndigo;
					}
				}

				ul {
					background: $celadonGreen;
					line-height: 35px;

					a {
						position: relative;

						&.active {
							background: $celadonGreen;
							font-weight: 700;
							overflow: hidden;

							&:after {
								content: "";
								position: absolute;
								top: 0;
								right: -10px;
								bottom: 0;
								width: 10px;
								height: 20px;
								margin: auto;
								background: $lightGray;
								transform: rotate(45deg);
							}
						}

						&:hover, &:focus {
							background: lighten($celadonGreen, 5%);
						}
					}
				}

				.divider {
					flex: 1;
				}
			}
		}
	}
}