/* Colors */
$rubyRed: #931621;

$japaneseIndigo: #28464b;
$myrtleGreen: #326771;
$celadonGreen: #2c8c99;
$turquoise: #42d9c8;

$white: #fff;
$lightGray: #eee;
$gray: #888;
$black: #333;

/* Widths */
$mobileWidth: 768px;