@import 'reset';

@import '../../node_modules/font-awesome/scss/font-awesome';

@import 'variables';
@import 'extends';

@import 'buttons';

@import 'sidebar';
@import 'main';
@import 'filters';
@import 'items-table';
@import 'pagination';
@import 'form';

*, :before, :after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	color: $black;
	background: #f3f3f3;
	font: 16px Source Sans Pro, sans-serif;
}

strong, b {
	font-weight: bold;
}

body {
	display: flex;
}

a {
	color: $celadonGreen;
	text-decoration: none;

	&:hover, &:focus {
		text-decoration: underline;
	}
}