<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<title>{% block title 'Blapi' %}</title>
		<link rel="stylesheet" href="{{ asset('style.css') }}">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,700,700i&amp;subset=latin-ext">
	</head>
	<body>
        {% block body %}
            <header class="sidebar">
                <div class="wrapper">
                    <h1 class="brand">bl<span>api</span></h1>
                    <nav class="navigation">
                        <ul>
                            <li><a href="#0">
                                <i class="fa fa-home fa-fw" aria-hidden="true"></i>
                                <span>Dashboard</span>
                            </a></li>
                            <li>
                                <a href="#0" class="active">
                                    <i class="fa fa-comment fa-fw" aria-hidden="true"></i>
                                    <span>Posts</span>
                                </a>
                                <ul>
                                    <li><a href="{{ route('posts.all') }}" class="active">All posts</a></li>
                                    <li><a href="{{ route('posts.add') }}">Add new</a></li>
                                    <li><a href="#0">Categories</a></li>
                                    <li><a href="#0">Tags</a></li>
                                </ul>
                            </li>
                            <li><a href="#0">
                                <i class="fa fa-file-text fa-fw" aria-hidden="true"></i>
                                <span>Pages</span>
                            </a></li>
                            <li><a href="#0">
                                <i class="fa fa-users fa-fw" aria-hidden="true"></i>
                                <span>Users</span>
                            </a></li>
                            <li><a href="#0">
                                <i class="fa fa-check fa-fw" aria-hidden="true"></i>
                                <span>Appearance</span>
                            </a></li>
                            <li><a href="#0">
                                <i class="fa fa-cog fa-fw" aria-hidden="true"></i>
                                <span>Settings</span>
                            </a></li>
                            <li><a href="#0">
                                <i class="fa fa-user fa-fw" aria-hidden="true"></i>
                                <span>Account</span>
                            </a></li>
                            <li class="divider" aria-hidden="true"></li>
                            <li><a href="#0">
                                <i class="fa fa-bug fa-fw"></i>
                                <span>Report a bug</span>
                            </a></li>
                        </ul>
                    </nav>
                </div>
            </header>
            <main class="main">
                {% block main '' %}
            </main>
        {% endblock %}
	</body>
</html>