{% extends 'layout.twig' %}

{% block main %}
    <div class="page-title">
        <h2>Add new post</h2>
        <div>
            <a href="#0" class="btn btn-default">Preview</a>
            <a href="#0" class="btn btn-primary">Save</a>
        </div>
    </div>
{% endblock %}