{% extends 'layout.twig' %}

{% block main %}
    <div class="page-title">
        <h2>All posts</h2>
        <div>
            <a href="#0" class="btn btn-primary">Add new</a>
        </div>
    </div>
    <div class="filters">
        <ul class="status">
            <li><a href="#0" class="active">All (8)</a></li>
            <li><a href="#0">Published (6)</a></li>
            <li><a href="#0">Yours (6)</a></li>
            <li><a href="#0">Drafts (2)</a></li>
        </ul>
        <form action="#0" method="post" class="search">
            <label for="search">Search</label>
            <input type="search" name="search" id="search" placeholder="Search..." required>
        </form>
    </div>
    <table class="items-table">
        <thead>
            <tr>
                <th><i class="fa fa-lg fa-check"></i></th>
                <th>Title</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for i in 1..9 %}
                <tr {{ i != 4 ?: ' class=editing'  }}>
                    <td>
                        <input type="checkbox" id="check{{ i }}">
                        <label for="check{{ i }}" class="checkbox"></label>
                    </td>
                    <td>
                        <a href="#0">Lorem ipsum dolor sit amet</a>
                        {% if i == 4 %}<p class="busy">This post is currently being edited by <strong>John Doe</strong>.</p>{% endif %}
                    </td>
                    <td>published</td>
                    <td>
                        {% if i == 4 %}
                            <a href="#0">Peek</a>
                        {% else %}
                            <a href="#0">Edit</a>
                            <a href="#0">Preview</a>
                            <a href="#0" class="delete">Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <nav class="pagination">
        <ul>
            <li><a href="#0" class="current">1</a></li>
            <li><a href="#0">2</a></li>
            <li><a href="#0">3</a></li>
            <li><a href="#0">Next &rarr;</a></li>
        </ul>
    </nav>
{% endblock %}